.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
   border-width: 10px;
   background-color: rgb(0, 34, 255)
   border-styleridge;
   border-color: blue;
}  


